

{
position:absolute;
top:30px;
left:10px;
width:98%;

}
.strip a
{

float:right;
width:80px;
height:30px;
color:white;
text-decoration:none;
padding:10px;
}
.strip a:hover{
transform:scale(1.2);
background-color:pink;
color:black;
}
.name
{
position:absolute;
top:20px;
left:10px;
height:10px;
width:100px;
background-color=purple;
}
 h3
{
font-family:Lucida Calligraphy;
background-color:purple;
color:white;

padding:10px 10px;
}

.slides
{
position:absolute;
top:100px;
width:98%;
height:680px;
left:10px;
background-color:pink;/*rgba(128,50,100,1);*/
}
.left
{
position:absolute;
top:710px;
width:48%;
height:auto;
}
p
{
font-family:Lucida Calligraphy;
text-align:justify;
line-height:38px;
padding:3px;
}

.right
{
position:absolute;
top:720px;
left:600px;
height:590px;
width:47.5%;
background-color:#AA9129;
}
.footer
{
position:absolute;
top:1330px;
left:10px;
width:98%;
height:60px;
background-color:black;
radius:50%;
}
.footer a
{
position:relative;
top:10px;
left:10px;
text-decoration:none;
}